
body{
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat;
    background-image: url('/img/maxresdefault.jpg');
}

.multicolor-text {
    font-size: 48px; /* Tamanho da fonte */
    background: linear-gradient(90deg, #FF5733, #9B59B6, #2980B9, #27AE60, #F1C40F); /* Degradê de cores */
    -webkit-background-clip: text; /* Permite o uso do texto como máscara para o degradê */
    color: transparent; /* Torna o texto invisível */
    display: inline-block; /* Para o degradê funcionar corretamente */
    padding: 10px; /* Espaçamento interno para destacar o texto */
}


.calculator {    
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(189, 115, 19);
    border-radius: 5px;
    padding: 10px;
    background-color: #f0ca24;
}

.calculator input[type="text"] { /*Estilo do input*/
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 1px;
}

.calculator .buttons {
      /* Estilos do contêiner de botões */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.calculator :hover{
    color: #0c62a8;
}

.calculator button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid rgb(99, 98, 98);
    border-radius: 5px;
    background-color: rgb(92, 83, 83);
    cursor: pointer;
}

.calculator .operator {
    background-color: #0c62a8; /* Red */
    color: #fff;
}
